@font-face{
    font-family: 'subtitulo';
    src: url(../../files/font/OpenSauceOne-Light.ttf);
}

@font-face{
    font-family: 'titulo';
    src: url(../../files/font/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}

@font-face{
    font-family: 'citacao';
    src: url(../../files/font/cmunbx.ttf);
}