* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

ul, li, a{
    text-decoration: none;
    list-style: none;
}

body, html {
    background-color: var(--cor-body);
    font-family: subtitulo;
    margin: 0 auto;
    height: 100%;
}

main{
    display: flex;
}

@media (max-width: 576px) {

    body, html {
        width: 100%;
    }
}
