* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    line-height: 1;
    appearance: none;
}

body, html {
    background-color: var(--cor-body);
    font-family: subtitulo;
    margin: 0 auto;
    height: 100%;
}

main{
    display: flex;
}

@media (max-width: 576px) {

    body, html {
        width: 100%;
    }
}