:root{
    --cor-preto: #000 ;
    --cor-vermelho1: #510E0F;
    --cor-vermelho2: #a01a1b;
    --cor-vermelho3: #cf2224;
    --cor-verde: #71a650;
    --cor-amarelo: #f4c01e;
    --cor-body: #fff9e0;
}