
aside.perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    margin: 50px 0 0 5px;
}

.info-perfil{
    height: 380px;
    width: 300px;
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;
    background-color: var(--azul-fino);
    gap: 15px;
    transform: translateY(-130px);
}

.info-perfil h3{
    font-family: titulo;
    color: var(--azul-escuro);
    font-size: 3.5rem;
    font-weight: 100;
}

.redes .redes-sociais{
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.info-perfil .redes i{
    font-size: 1.5rem;
    color: var(--azul-escuro);
    margin: 0 0 15px 0;
}

.info-perfil .sobre-perfil{
    font-size: 1rem;
    color: var(--azul-medio);
    padding: 25px;
    text-align: center;
}

.foto-perfil{
    position: relative;
    z-index: 3;
}

/* ********************fim aside******************** */