main{
    margin: 50px;
}

header nav {
   display: flex;
   width: 100%;
   justify-content: center;
   align-items: center;
}

ul li{
    display: inline;
    margin: 35px;
    font-family: subtitulo;
    color: var(--cor-vermelho1);
}

.box-img{
    margin: 0 80px 0 80px;
}

@media (max-width: 425px){
  
    ul li{
        display: inline;
        margin: 35px;
        font-family: subtitulo;
        color: var(--cor-vermelho1);
        font-size: .5rem;
    }
    
    .box-img{
        margin: 0 80px 0 80px;
    }
    
    .logo{

    }
}