header nav {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: none;
    transition: 0.4s;

}

nav a:hover {
    text-decoration: overline;
    margin: 2px;
    text-decoration-style: dotted;
}

ul li {
    display: inline;
    margin: 25px 25px;
    color: var(--cor-vermelho1);
}

.box-img {
    margin: 0 95px 0 95px;
}

a:visited {
    color: var(--cor-vermelho2);

}