.conteudo .conteiner{
    display: flex;
    width: 900px;
    margin: 0 auto;
}
/* **********************fim conteiner********************** */

section.ultima-resenha{
    width: 65%;
    margin: 50PX 10px 0 0;
    border: solid 1px var(--azul-escuro);
}

/* *********************fim ultima resenha********************* */

.capa-livro{
    max-width: 100%;
    max-height: 100%;
    position: relative;
}

.gradient{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, var(--cor-body), transparent);
    position: absolute;
    top: 0;
    left: 0;
}

.img-benjamim img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
/* **********************fim capa do livro********************** */

.titulo-autor-data{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 35px;
    padding: 25px;
}

.titulo-autor-data h3{
    font-size: 3rem;
    color: var(--azul-escuro);
    margin: 0 0 5px 0;
}

.titulo-autor-data h4{
    font-size: 1.6rem;
    font-weight: 100;
    margin: 0 0 20px 0;
    color: var(--azul-medio);
}

.titulo-autor-data h5{
    color: var(--azul-escuro);
}

/* *****************fim titulo, autor e data****************** */

.resumo-resenha .resumo-curto{
    text-align: justify;
    padding: 80px;
}

.resumo-curto {
    font-size: 1.1rem;
    font-weight: 100;
    font-family: subtitulo;
    color: var(--azul-escuro);
    line-height: 20px;
}

.resumo-curto span{
    font-size: 2.2rem;
    color: var(--cor-laranja);
}

.citação span{
    font-size: 2.2rem;
    color: var(--cor-laranja);
}

/* *****************fim resumo-resenha****************** */

.citação{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 100;
    background-color: var(--azul-escuro);
    padding: 60px;
    color: var(--azul-fino);
    font-family: citacao;
}

/* *****************fim citação****************** */

footer.box-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

footer.box-btn a{
    font-size: 1.2rem;
    background-color: var(--azul-medio);
    padding: 10px 35px;
    border-radius: 30px;
    text-decoration: none;
    color: var(--cor-body);
    transition: .3s;
}

footer.box-btn a:hover{
    background-color: var(--azul-claro);
}

/* *****************fim footer****************** */

/* *****************Responsivo****************** */

@media (max-width: 576px){

    .conteudo .conteiner{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 350px;
    }
    /* **********************fim conteiner********************** */
    
    section.ultima-resenha{
        width: 100%;
        margin: 25PX 5px 0 0;
        border: solid 1px var(--azul-escuro);
    }
    
    /* *********************fim ultima resenha********************* */
    
    .titulo-autor-data{
        margin: 0 0 0 30px;
    }
    
    .titulo-autor-data h3{
        font-size: 2rem;
        margin: 0 0 2.5px 0;
    }
    
    .titulo-autor-data h4{
        font-size: 1.1rem;
        margin: 0 0 15px 0;
    }

    /* *****************fim titulo, autor e data****************** */
    
    .resumo-resenha .resumo-curto{
        text-align: justify;
        padding: 60px;
    }
    
    .resumo-curto {
        font-size: 1rem;
    }
    
    /* *****************fim resumo-resenha****************** */
    
    .citação{
        font-size: 2rem;
    }
    
    /* *****************fim citação****************** */
    
    footer.box-btn{
        margin: 30px;
    }
    
    footer.box-btn a{
        font-size: .9rem;

    }

}