.recentes{
    display: flex;
    align-items: center;
    height: 50vh;
    width: 100%;
    padding: 50px;
    background-color: var(--azul-escuro);
}

.recentes .ultima-resenha h4{
    color: var(--cor-body);
    transform: rotate(-90deg);
    font-style: italic;
    font-family: subtitulo;

}

.recentes .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10%  5%;
    padding: 15px;
}

.recentes .livro-imagem{
    min-height: 130px;
    width: 90%;
    margin-bottom: 6px;
    background-position: center;
    background-size: cover;
}

.recentes .card-recentes a{
    text-decoration: none;
}

.recentes .card-recentes h3{
    font-size: 1.2rem;
    color: var(--cor-body);
    font-weight: 200;
}

.recentes .card-recentes p{
    font-size: .7rem;
    color: var(--azul-fino);
}

.recentes .card-recentes i{
    color: var(--cor-amarelo);
    font-size: .6rem;
}

.recentes #livro-1{
    background-image: url(../../../../files/imagens/livros/benjamim.jpg);
    border-radius: 5px;
}

@media (max-width: 576px){

    .recentes{
        height: 30vh;
    }
    
    .recentes .ultima-resenha{
        font-size: .6rem;
    }
    
    .recentes .card{
        gap: 8px;
        margin: 5%  2%;
        padding: 15px;
    }
    
    .recentes .livro-imagem{
        min-height: 65px;
        width: 70%;
        margin-bottom: 3px;
    }
    
    .recentes .card h3{
        font-size: .8rem;
    }
    
    .recentes .card p{
        font-size: .5rem;
    }
    
    .recentes .card i{
        font-size: .4rem;
    }
 
}